html,
body {
  height: 100%;
  background-color: #FDE2F3;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.location
{
  background-color: #DAFFFB;
}
.bg-color
{
  background-color: #DAFFFB;
}
.rotate
{
  transform: rotate(90deg);
}
